/*styles.css*/

body {
    font: arial;
    background: linear-gradient( to right, #fff2af 60%, #ffffff 40%);

}

header {
    color: rgb(59, 52, 52);
    font-size: 44px;
    margin-top: auto;
    text-align: center;
}

img {

    width: 300px;
    height: 330px;
    border-radius: 25%;
    margin-top: 1%;
    margin-left: 1%;
}

.button-link {
    justify-content: center;
    padding: 20px 20px;
    background-color: #faed5b;
    color: rgb(59, 52, 52);
    text-decoration: none;
    border-radius: 50px;
}

nav {

    text-align: center;
    margin-top: -3%;
}

section {

    color: rgb(59, 52, 52);
    margin-left: 35%;
    margin-top: -25%;
    font-size: 22px;
    font-style: italic;
}

article {
    text-align: left;
    color: rgb(59, 52, 52);
    font-size: 22px;
    margin-left: 35%;

}

footer {
    
    color: rgb(59, 52, 52);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    margin-bottom: auto;
}